<%- include('blocks/header', {bot:bot, user: user, auth: auth, db: db, badge: badge, bg: bg, cB: cB, badge: badge, premium: premium, reps: reps, moment: moment}) %>
<% const usuário = bot.users.get(user.id) %>

<head>
	<meta name="theme-color" content="#23272A">
	<meta property="og:title" content="Ryouji Bot">
	<meta property="og:url" content="https://ryouji.glitch.me">
	<meta property="og:description" content="Um Bot para administrar seu servidor e divertir seus membros com vários comandos e opções.">
	<meta property="og:image" content="<%= bot.user.avatarURL %>?size=128">
</head>
<title>
	Dashboard -
	<%= bot.user.username %>
</title>

<body>

</body>
<% include ./blocks/footer %>